body {
  font-family: Arial, Helvetica, sans-serif;
}
h1 {
  color: rgb(175, 175, 181);
  font-size: 30px;
  font-weight: 400;
  line-height: 28px;
  margin-bottom: 0;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
  margin: 0;
  padding: 0;
  text-transform: capitalize;
  color: rgb(182, 170, 192);
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
}
.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}
.weather-app {
  max-width: 600px;
  margin: 0px auto;
  padding: 20px;
  border: 1px solid rgb(225, 217, 217);
  border-radius: 5px;
}
.overview {
  margin-bottom: 20px;
}
.weather-temperature img {
  margin-right: 5px;
  height: 64px;
  width: 64px;
}
.weather-temperature strong {
  color: blue;
  font-size: 64px;
  font-weight: 400;
  line-height: 64px;
}
.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: 2px;
}
