body {
  font-family: Arial, Helvetica, sans-serif;
}
h1 {
  color: rgb(151, 151, 183);
  font-size: 30px;
  font-weight: 400;
  line-height: 28px;
  margin-bottom: 10px;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
  margin: 0;
  padding: 0;
  color: rgb(181, 181, 210);
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
}
li:first-letter {
  text-transform: capitalize;
}
.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}
.weather-app {
  max-width: 600px;
  margin: 0px auto;
  padding: 20px;
  border: 1px solid rgb(225, 217, 217);
  border-radius: 5px;
}
.overview {
  margin-bottom: 20px;
}
.weather-temperature img {
  margin-right: 5px;
  height: 64px;
  width: 64px;
}
.weather-temperature strong {
  color: rgb(108, 108, 152);
  font-size: 64px;
  font-weight: 400;
  line-height: 64px;
}
.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: 2px;
}
a {
  text-decoration: none;
  color: rgb(63, 11, 186);
}
.weather-temperature .active {
  color: rgb(141, 141, 162);
  cursor: default;
}
.weather-temperature .active:hover {
  text-decoration: none;
}
.btn {
  background-color: rgb(68, 68, 135);
  border: 1px solid rgb(44, 44, 69);
}
